.hotel{
    display:flex;
    flex-direction: row;
    background-color: aliceblue;
    margin: 2%;
    padding:2%;
    justify-content: space-between;
}
.description{
    color:rgb(209, 106, 80);
    font-family: Roboto;
    line-height: 1;
    width:60%;
}
.action{
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        
}
.btn{
    background-color: rgb(209, 106, 80);
}